<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <add key="server" value="https://service.w2w.fund" />
    <add key="domain" value="w2w" />
    <add key="login" value="marketing" />
    <add key="password" value="e9668a2e64b78fd9cc7cac96d337d444" />

    <!--<add key="binance.key" value="0AoBpaNBZesyWm7YTeXXrkWtZxnHM1ZWG49Jr5IOtXcHXpVKUwX0gluq4PIPff8r" />
    <add key="binance.secret" value="Ns6Fo6NGcmm5HQyiB1QpKp6axnxfHYcyibgCqRNy2NKu8M2JU0SlfQ9yzsTtVV0o" />-->
    <add key="binance.key" value="zodELFo62vLQRxVW4uT1Er0J4Eiby6kLRO0MZKmZZVhybGuneh6cat1sUbmoVYJZ" />
    <add key="binance.secret" value="IVWuJ0lp1LRBSQ60B8k1wNcQXmXYdo8EhqrKS6w8blPcDGsgnRQziBylh4BJzcgi" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--Чтобы избежать раскрытия метаданных, до развертывания задайте следующим параметрам значение "false". -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- Чтобы при сбое получать подробные сведения об исключении для целей отладки, установите для нижеприведенного параметра значение true.  Перед развертыванием установите значение false, чтобы избежать раскрытия информации об исключении -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
